@import '/vendor/filament/filament/resources/css/theme.css';

@config 'tailwind.config.js';

/* Simple */
.fi-simple-main {
    @apply bg-white shadow dark:bg-gray-800;
}

/* Sidebar */
.fi-sidebar-item {
    @apply transition duration-150 ease-in-out rounded-lg !important;
}

.fi-sidebar-item-active {
    @apply ease-in-out bg-gray-100 dark:bg-gray-800 rounded-lg !important;
}

.fi-sidebar-item-label {
    @apply text-base !important;
}

.fi-sidebar-item-icon {
    @apply text-danger-600 dark:text-danger-600;
}

.fi-sidebar-group-items {
    @apply pb-2 space-y-2 !important;
}

.fi-active .fi-sidebar-item-label {
    @apply text-gray-700 dark:text-gray-200 !important;
}

/* Topbar */
.fi-topbar nav, .fi-sidebar-header {
    @apply bg-white dark:bg-gray-800 !important;
}

/* Layout */
.fi-badge {
    @apply text-sm font-medium me-2 px-2.5 py-0.5 rounded-full ring-0 !important;
}

.fi-fo-field-wrp-label span {
    @apply text-gray-900 dark:text-gray-400 !important;
}

.fi-dropdown-list-item-label, .fi-ta-text-item-label {
    @apply font-medium !important;
}

/* Forms */
.fi-fo-field-wrp-label {
    @apply text-gray-900 dark:text-gray-400;
}

.fi-input {
    @apply
    p-2.5
    sm:text-sm
    bg-gray-50 
    dark:bg-gray-700 
    text-gray-900
    dark:text-white
    border
    border-gray-300 
    dark:border-gray-600
    dark:placeholder-gray-400
    focus:ring-primary-500
    focus:border-primary-500
    dark:focus:ring-primary-500
    dark:focus:border-primary-500;
}

/* Buttons */
.fi-btn-color-primary {
    @apply
    text-white 
    bg-primary-700
    dark:bg-primary-600
    hover:bg-primary-800
    dark:hover:bg-primary-700
    transition
    ease-in-out
    duration-150;
}